In [49]:
# import libraries
import pandas as pd
import numpy as np
from datetime import date

# returns the current local date
today = date.today()

In [92]:
dataPath = '/Users/anthonynanfito/Documents/GitHub/splitter/data.csv'

# reads CSV file and creates data frame
data = pd.read_csv(dataPath)

In [3]:
data

,Name,Assignment 1,Assignment 2,Assignment 3,Assessment 1,Assessment 2,Total
0,Bob,98.0,98.0,98.0,98.0,98.0,98%
1,Tom,85.0,85.0,85.0,85.0,85.0,85%
2,Sally,78.0,78.0,78.0,78.0,NaN,62.4%
3,John,98.0,NaN,98.0,NaN,98.0,58.8%
4,Jake,99.0,99.0,99.0,99.0,99.0,99%
5,Barbara,93.0,93.0,93.0,93.0,93.0,93%
6,Sue,78.0,78.0,78.0,78.0,78.0,78%
7,Susy,NaN,87.0,87.0,87.0,87.0,69.6%
8,Ella,88.0,88.0,88.0,NaN,88.0,70.4%
9,Giancarlo,90.0,90.0,90.0,90.0,90.0,90%
10,Stella,95.0,95.0,95.0,95.0,95.0,95%
11,Sofia,100.0,100.0,NaN,100.0,100.0,80%
12,Ricardo,100.0,100.0,100.0,100.0,100.0,100%

In [4]:
data.iloc[2]

Name            Sally
Assignment 1     78.0
Assignment 2     78.0
Assignment 3     78.0
Assessment 1     78.0
Assessment 2      NaN
Total           62.4%
Name: 2, dtype: object

In [22]:
data[data['Assignment 1'].isna()]

,Name,Assignment 1,Assignment 2,Assignment 3,Assessment 1,Assessment 2,Total
7,Susy,NaN,87.0,87.0,87.0,87.0,69.6%

In [ ]:
i = 0
while i < len(data):
        print(data.iloc[i])
        i+=1

In [56]:
columnTitles = list(data) # creates array of column names
columnTitles

['Name',
 'Assignment 1',
 'Assignment 2',
 'Assignment 3',
 'Assessment 1',
 'Assessment 2',
 'Total']

In [57]:
len(columnTitles)

7

In [51]:
type(data.iloc[7]['Assignment 1'])

numpy.float64

In [52]:
data.iloc[7]['Assignment 1'].astype(str)

'nan'

In [54]:
if data.iloc[7]['Assignment 1'].astype(str) == 'nan':
    print("success")
else:
    print("no dice")

success

Currently the code below finds the missing assingments, but I'm unsure of how the data should be stored so that it can be used to generate a report. Right now, it stores them as a dictionary BUT it lists multiple entries for someone with more than one missing asssignment. I want to find a way to make it so that it's stored in one place.

In [125]:
studentMissingWorkDict = {
    'stuName1' : ['assign1', 'quiz1'],
    'stuName2' : ['assign1']
}
print(studentMissingWorkDict)
studentMissingWorkDict['stuName1'][0]

{'stuName1': ['assign1', 'quiz1'], 'stuName2': ['assign1']}

'assign1'

In [111]:
studentMissingWorkDict.get('stuName1').append('red')

In [116]:
if 'stuName2' not in studentMissingWorkDict.keys():
    print("it's not there")
else:
    print("it's there")

it's there

In [127]:
i = 0
columnTitles = list(data) # creates array of column names
studentsMissingWork = {}
while i < len(data):
    j = 1
    while j < len(columnTitles) - 1:
        if data.iloc[i][columnTitles[j]].astype(str) == 'nan':
            if data.iloc[i][columnTitles[0]] not in studentsMissingWork.keys():
                studentsMissingWork.update({data.iloc[i][columnTitles[0]]: [columnTitles[j]]})
            else:
                studentsMissingWork.get(data.iloc[i][columnTitles[0]]).append(columnTitles[j])
        j+=1
    i+=1

# can't use DF because columns need to be the same length
# stuMissingWorkDF = pd.DataFrame(studentsMissingWork)
# stuMissingWorkDF

# try using a for loop to iterate over the dictionary studentsMissingWork and print a list
# this list could be saved to a text file with the students name
for student in studentsMissingWork:
    file = open('%s_%s.txt' % (today, student), 'w')
    file.write('Below is a list of the assignment(s) you are missing. Please complete for credit, then email me me your list of completed assignment(s) with their new scores. Thank you. \n%s' % studentsMissingWork[student])
    file.close()

data: {'Sally': ['Assessment 2'], 'John': ['Assignment 2', 'Assessment 1'], 'Susy': ['Assignment 1'], 'Ella': ['Assessment 1'], 'Sofia': ['Assignment 3']}