# Scratch work for redefining split() function

In [2]:
import pandas as pd
import numpy as np
from datetime import date
today = date.today()

## Updated function

In [3]:
dataPath = '/Users/anthonynanfito/Documents/GitHub/splitter/data.csv'
data = pd.read_csv(dataPath).replace(np.nan, "MISSING") # only need to add the .replace()
data

,Name,Assignment 1,Assignment 2,Assignment 3,Assessment 1,Assessment 2,Total
0,Bob,98.0,98.0,98.0,98.0,98.0,98%
1,Tom,85.0,85.0,85.0,85.0,85.0,85%
2,Sally,78.0,78.0,78.0,78.0,MISSING,62.4%
3,John,98.0,MISSING,98.0,MISSING,98.0,58.8%
4,Jake,99.0,99.0,99.0,99.0,99.0,99%
5,Barbara,93.0,93.0,93.0,93.0,93.0,93%
6,Sue,78.0,78.0,78.0,78.0,78.0,78%
7,Susy,MISSING,87.0,87.0,87.0,87.0,69.6%
8,Ella,88.0,88.0,88.0,MISSING,88.0,70.4%
9,Giancarlo,90.0,90.0,90.0,90.0,90.0,90%
10,Stella,95.0,95.0,95.0,95.0,95.0,95%
11,Sofia,100.0,100.0,MISSING,100.0,100.0,80%
12,Ricardo,100.0,100.0,100.0,100.0,100.0,100%

In [27]:
data.iloc[11]["Assignment 3"] = 'MISSING'

/var/folders/6t/wrq361m91bj08r8vvjhjdfjc0000gn/T/ipykernel_18869/1082751663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[11]["Assignment 3"] = 'MISSING'

## Function test

In [5]:
print("Splitting files ...")
i = 0
while i < len(data):
    # isolate each row of data and save it as CSV based on the Name
    data.iloc[i].to_csv(str(today) + '_' + str(data.iloc[i]["Name"]) +'.csv') 
    i+=1
print("Split complete.")

Splitting files ...
Split complete.